body{
    background-color: #000000;
    color: #ffffff;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 20px;
    margin:0;
    
}
.languageBox{
    display:flex;
    align-items: center;
    max-width: 360px;
    flex-direction: row;
    padding: 10px;
}
.language{  
    height: 50px;
    margin: 10px auto;
    width: auto;
}
#model-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    
    
    width: 100%;
    max-width: 100%;
   
}
#model{
    width: 100%;
    max-width: 100%;
    
    
    margin: 0 auto;
    background-color: #979393;

}
#SCRAP-E{
    padding: 10px;
    height: 0.1vh;
}
#closeModel{
    background-color: #870000;
    display: block;
    text-align: center;
}
.navbar{
    height:65px;
}

.navbar>ul{
    display:flex;
    flex-direction: row;
    list-style-type: none;
    margin: 0px;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}
.navbar>ul>li a{
    display: inline-block;
    color: #ffffff;
    text-align: center;

    height: 45px;
    padding: 10px 35px;
    text-decoration: none;
}
.navImg {
    margin:0;
    height: 45px;
    width: auto;
}
.nav_element{
    padding: auto;
    

    border: 2px solid #fefefe;
    border-radius: 5px;
    background-color: #3b3a3a;
}
.nav_element:hover{
    background-color: #e15c5c;
}

.projects li a{
    display: block;
    color: #ffffff;
    padding: 14px 16px;
    
    text-decoration: none;
    list-style-type: none;
    background-color: #ae4f4f;
}
.projects li a:hover{
    background-color: #691515;
}
.gameBoard{
    float:left;
}
.control{
    float:center;
}
#reset{
    margin-left: auto;
    margin-right: auto;
    background-color: #f53333;
    padding: 18.5px 30px;
    color: #ffffff;
    font-weight:bold;
}
#reset:disabled{
    background-color: #f78282;
}
#reset:enabled:hover{
    background-color: #ab1a1a;
}

.RadioLabel{
    margin-left: auto;
  margin-right: auto;
    font-size: 20px;
    font-weight:bold;
    text-decoration: none;
    list-style-type: none;
}
